body {
  font-family: "Noto Sans", sans-serif;
  color: #4f98ca;
}
div.card.weather {
  margin-top: 20px;
  padding: 0;
  background-color: #effffb;
  border: 2px solid #15164d;
  max-width: 585px;
}

div.row.one {
  padding: 5px 20px 0px 20px;
}

h1.currently-in {
  font-size: 23px;
  color: #4f98ca;
  margin: 0;
}

#set-current {
  background-color: #4f99ca52;
  font-family: "Noto Sans", sans-serif;
  font-size: 23px;
  color: #50d890;
  border-radius: 10px;
  border: 2px solid #15164d;
  padding: 1px 15px;
}

h2.location {
  color: #15164d;
  font-weight: bold;
  font-size: 35px;
  margin: 0;
  display: inline;
}

p.date-time {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  color: #4f98ca;
}

form {
  width: 350px;
}

p.five-day-title {
  font-size: 25px;
  color: #4f98ca;
  font-weight: bold;
  padding-left: 15px;
  margin: 0px;
}

div.col-8.current-location {
  padding: 0px 0px 0px 15px;
}

div.col-4.current {
  padding: 0px 15px 0px 0px;
}

div.col.current {
  text-align: center;
  color: #4f98ca;
  font-weight: bold;
  padding: 0px 0px 0px 5px;
  margin: 0;
}

p.current-temp {
  font-size: 65px;
  margin: 0;
  line-height: 70px;
}
p.current-condition {
  font-size: 23px;
  line-height: 28px;
  margin: 0;
  text-align: center;
}
p.current-emoji {
  font-size: 58px;
  line-height: 63px;
  color: #50d890;
  margin: 0px 0px 0px 0px;
  text-align: center;
}

p.current-stats {
  margin: 0px 0px 0px 0px;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}

div.current-temp {
  padding: 0;
  text-align: right;
}

div.cf-toggle {
  padding-left: 5px;
  padding-right: 0px;
  padding-top: 15px;
  text-align: left;
}

#fahrenheit-link {
  font-size: 15px;
  color: #4f98ca;
}

#celsius-link {
  color: #50d890;
}

a:hover {
  text-decoration: none;
  color: #4f98ca;
}

.blank {
  line-height: 5px;
  color: transparent;
}

div.row.five-day-icons {
  padding-left: 35px;
}
div.card.forecast {
  padding: 0;
  background-color: #effffb;
  border: none;
}
ul {
  list-style-type: none;
  text-align: center;
  border-radius: 50%;
  border: 4px solid #15164d;
  padding: 0;
  max-width: 100px;
  min-height: 100px;
  font-weight: bold;
  background-color: #effffb;
}

.circle-day-row,
.circle-temp-row {
  color: #4f98ca;
  line-height: 25px;
  font-size: 21px;
}
.weatherEmoji {
  font-size: 30px;
  line-height: 30px;
  color: #50d890;
}

footer {
  font-family: "Sacramento", cursive;
  color: #50d890;
  font-size: 30px;
}
.fas.fa-cat {
  font-size: 20px;
}
